@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Long+Cang&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Background-color: #008080;
    --Primary-color: #ffffff;
    --Secondary-color: rgb(13, 0, 128);
}

.Title {
    margin-bottom: 10px;
    font-size: 2rem;
}

.font-increase {
    font-size: 30px;
}


/* This was implemented to have a div for the timer block and the view highscore block within the header div 
thus giving a clean easy look to see their highscores and to watch the timer */

header {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 100px 0;
}

#timeclock {
    top: 30px;
    right: 30px;
    position: absolute;
    font-size: large;
}

#highscore {
    top: 30px;
    left: 30px;
    position: absolute;
    font-size: large;
    background-color: var(--Background-color);
    color: var(--Primary-color)
}


/* This is for the welcome page div to give it a nice clean look as they enter the application */

.welcome-page {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}


/* This is for the end page div to give it a nice clean look 
as they enter their final scores */

#end-page {
    text-align: center;
    white-space: pre-line;
    font-size: 1.5rem;
    width: 60%;
}

#score {
    color: red;
}

#playerID {
    width: 50%;
    height: 30px;
}

#register {
    font-size: 1.5rem;
    margin-top: 20px;
}


/* These are used to stylize and position all the buttons for the quiz */

#question {
    margin-bottom: 15px;
    font-size: 24px;
}

.btn {
    width: 100%;
    background-color: var(--Background-color);
    color: var(--Primary-color);
    padding: 10px;
    margin: 5px 0 5px 0;
}

.controls {
    display: flex;
    justify-content: center;
}

.start-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.next-btn {
    font-size: 1rem;
    padding: 10px 20px;
}

.big-button {
    font-size: 1.5rem;
}

.bbutton-container {
    margin: 20px;
}

.start-btn:hover,
.btn:hover,
#highscore:hover {
    background-color: var(--Secondary-color);
    color: var(--Primary-color);
}


/* This wil be consistently used to help hide divs and manipulate them via DOM elements */

.hide {
    display: none;
}


/* These were added into update the colors of the correct and wrong divs */

.correct {
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    background-color: green;
    font-family: 'Great Vibes', cursive;
}

.incorrect {
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    background-color: red;
    font-family: 'Long Cang', cursive;
}


/* These are the styles used to center the final highscores and to have them into seperate boxes */

.new-container {
    margin: 200px auto;
    max-width: 600px;
    text-align: center;
}

ol {
    background-color: var(--Background-color);
    width: 300px;
    padding-left: 0px;
    max-height: 425px;
    overflow: auto;
}

li {
    color: var(--Primary-color);
    padding: 5px;
    list-style: decimal inside none;
    border: solid;
    font-size: 24px;
}